body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-part { color: #2E2F42;
}

.nav-list { display: flex;
    gap: 40px;

}

.nav-link { color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.adress-list {
    display: flex;
    gap: 40px;
}

.address-link { color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}

.hero { padding-bottom: 120px;
    background: #2e2f42;
    padding: 188px 0;
    
}



.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    
}

.hero-btn-main {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
}
.hero-btn-main:hover,
.hero-btn-main:focus {
    background-color: #404BBF;
}

.features { padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


.features-list {
    display: flex;
    gap: 24px;

}

.features-item { width: calc((100% - 72px) / 4);
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-item-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.taste { 
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.taste-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.taste-list { 
    display: flex;
    gap: 24px;
}

.taste-item { 
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;

}

.name { padding: 32px 0;

}

.taste-image { display: block;
}

.taste-subtitle { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    
}

.taste-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   text-align: center;
   color: #434455;
}

.tastee {  padding-top: 120px;
    padding-bottom: 120px;
}

.tastee-title { 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.tastee-list { display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.tastee-item { width: calc((100% - 48px) / 3);
}

.image {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.tastee-image { display: block;
}

.tastee-subtitle { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.tastee-text { 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer { 
    background: #2e2f42;
    padding: 100px 0;
}

.logoo {  
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px; 
}

.logoo-part {
    color: #f4f4fd;
}

.footer-text { 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}


